apply plugin:'base'

repositories {
 mavenCentral()
}

configurations {
  distLib
}

dependencies {
 #foreach($component in $components)
     distLib "${component}"
 #end
}

task distrib(type:Zip, description:'Bundle a distribution'){
 into ('lib') {
   from configurations.distLib
 }
 from 'generated'
 from '../src/main/resources'
}
