apply plugin:'base'

repositories {
 maven {
    url "http://mongodb-srv2.ica.synchrotron-soleil.fr:8090/legacy/"
 }
}

configurations {
  distLib
}

dependencies {
 #foreach($component in $components)
     distLib "${component}"
 #end
}

task distrib(type:Zip, description:'Bundle a distribution'){
 into ('lib') {
   from configurations.distLib
 }
 from 'build/generated'
}
