apply plugin:'base'

repositories {
 mavenCentral()
}

configurations {
  distLib
}

dependencies {
 #foreach($component in $components)
     distLib "${component}"
 #end
}

task printClasspath <<{
    configurations.distLib.resolvedConfiguration.resolvedArtifacts.each {
        art ->
            def rd = art.resolvedDependency
            file('classpathResult.txt') << rd.name
            file('classpathResult.txt') << "\n"
    }
}
